<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>juicity-server</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/juicity-server</string>
            <string>run</string>
            <string>-c</string>
            <string>/usr/local/etc/juicity/server.json</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/juicity-server.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/juicity-server.out</string>
    </dict>
</plist>